<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kevin.blog.mapper.FinanceMapper">
  <resultMap id="BaseResultMap" type="org.kevin.blog.model.Finance">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="cost" jdbcType="INTEGER" property="cost" />
    <result column="for_what" jdbcType="VARCHAR" property="forWhat" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id,cost,for_what,time
  </sql>

  <select id="findList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT
    <include refid="Base_Column_List"/>
    FROM finance
    ORDER BY create_time DESC
    <if test="_parameter != null">
      LIMIT #{limit}
    </if>
  </select>

  <select id="selectByCondition" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    FROM finance
    <where>
      <if test="forWhat != null">
        for_what like concat("%",${forWhat,jdbcType=VARCHAR},"%")
      </if>
      <if test="time != null">
        AND time > ${time,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

  <insert id="insert" parameterType="org.kevin.blog.model.Finance">
    insert into finance (id, cost, for_what, 
      time)
    values (#{id,jdbcType=VARCHAR}, #{cost,jdbcType=INTEGER}, #{forWhat,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.kevin.blog.model.Finance">
    insert into finance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="forWhat != null">
        for_what,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=INTEGER},
      </if>
      <if test="forWhat != null">
        #{forWhat,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>