<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kevin.blog.mapper.FinanceMapper">
  <resultMap id="BaseResultMap" type="org.kevin.blog.model.Finance">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="for_what" jdbcType="VARCHAR" property="forWhat" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id,cost,for_what,type,create_time
  </sql>

  <select id="findList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT
    <include refid="Base_Column_List"/>
    FROM finance
    ORDER BY create_time DESC
    <if test="_parameter != null">
      LIMIT #{limit}
    </if>
  </select>

  <select id="sumByCondition" resultType="java.lang.Double">
    SELECT sum(cost)
    FROM finance
    WHERE
      create_time BETWEEN #{fromDate,jdbcType=TIMESTAMP} AND #{toDate,jdbcType=TIMESTAMP}
      <if test="type != null and type != ''">
        AND type = #{type,jdbcType=VARCHAR}
      </if>
  </select>

  <select id="sumByType" resultType="java.lang.Double">
    SELECT sum(cost)
    FROM finance
    WHERE type = #{type,jdbcType=VARCHAR}
  </select>

  <select id="selectByCondition" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    FROM finance
    <where>
      <if test="forWhat != null">
        for_what like concat("%",#{forWhat,jdbcType=VARCHAR},"%")
      </if>
      <if test="createTime != null">
        AND create_time > #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <insert id="insert" parameterType="org.kevin.blog.model.Finance">
    insert into finance (id, cost, for_what, type,
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{cost,jdbcType=DECIMAL}, #{forWhat,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.kevin.blog.model.Finance">
    insert into finance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="forWhat != null">
        for_what,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="forWhat != null">
        #{forWhat,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>