<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/icon/favicon.ico" th:href="@{icon/favicon.ico}">

  <title>Kevin's blog</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="../static/css/blog.css" th:href="@{css/blog.css}" rel="stylesheet">
  <link href="../static/css/myCSS.css" th:href="@{css/myCSS.css}" rel="stylesheet"/>
</head>

<body>

<div class="container">
  <header th:replace="~{fragments :: header}"></header>
  <div th:replace="~{fragments :: index}"></div>
  <div th:replace="~{fragments :: basicInfoPanel}"></div>
</div>

<main role="main" class="container">
  <div class="modal-header">
    <h1>Secret Moment</h1>
    <button type="button" class="btn btn-light float-right" data-toggle="modal" data-target="#addSecretMoment">
      ADD
    </button>
  </div>

  <div class="row">
    <div class="col-10" th:each="moment:${secretMoments}">
      <div class="alert alert-info myFont" role="alert">
        <p class="alert-heading font-weight-bold" th:utext="${moment.createTime}">secret moment header</p>
        <p class="mb-0" th:utext="${moment.moment}">secret moment</p>
      </div>
    </div>
  </div><!-- /.row -->

</main><!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="addSecretMoment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <textarea class="form-control" id="secretMomentContent" rows="7"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCancel">Close</button>
        <button type="button" class="btn btn-primary" id="btnSave">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{js/jquery-3.3.1.min.js}"></script>
<script src="../static/js/vendor/popper.min.js" th:src="@{js/vendor/popper.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/vendor/holder.min.js" th:src="@{js/vendor/holder.min.js}"></script>
<script src="../static/js/myJS.js" th:src="@{js/myJS.js}"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });

    $("#btnCancel").on('click', function () {
        $("#secretMomentContent").val("");
    });
    $("#btnSave").on('click', function () {
        $.ajax({
            url: "/saveSecretMoment",
            type: "post",
            data: {content: $("#secretMomentContent").val()},
            success: function(data){
                if(data == '1')
                    location.reload();
            },
            error: function(data){
                console.log("got wrong.");
            }
        });
    });
</script>
</body>
</html>
